.container{
    margin: 5em 2.5em;
}

.playCard{
    margin: 1em;
    display: inline-block;
}

input{
    margin: 1em 1em 1em 0;
}

select{
    width: auto;
    display: inline-block;
    margin-right: 1em;
}