<div class="container">
    <div class="compete">
        <div class="content">
            <h5>Head to head</h5>
            <label for="team1" class="mr-sm-2">Team 1:</label>
            <input type="text" class="mb-2 mr-sm-2" placeholder="Enter a team" [(ngModel)]="comp1">
            <label for="team2" class="mr-sm-2">Team 2:</label>
            <input type="text" class="mb-2 mr-sm-2 mt-2" placeholder="Enter a team" [(ngModel)]="comp2">
            <button type="button" class="btn btn-primary mt-2 btn-sm float-right" (click)="compete()">Compete</button>
        </div>
    </div>
</div>