<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/game.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Game Time</h5>
          <p class="card-text">Make two teams go head to head and see who wins</p>
          <button class="btn btn-primary" (click)="game()">Click</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/player.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Player Information</h5>
          <p class="card-text">Go here to see player information</p>
          <button class="btn btn-primary" (click)="player()">Click</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/teams.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Teams</h5>
          <p class="card-text">Get your favorite teams and their stat</p>
          <button class="btn btn-primary" (click)="teams()">Click</button>
        </div>
    </div>
</div>
