

<div class="holder">
  <h1>Know Before It Happens</h1>
  <div class="card right" style="width: 25rem;" (click)="change($event)">
      <img class="card-img-top" src="/assets/accurate.jpeg" alt="Card image cap">
      <h5>Accurate</h5>
      <div class="card-body">
        <p class="card-text">We provide the best results with the most accurate weather forecasting technology featuring up to the minute weather reports.</p>
      </div>
  </div>
  <div class="card left" style="width: 25rem;" (click)="change($event)">
      <img class="card-img-top" src="/assets/cloud.jpeg" alt="Card image cap">
      <h5>Reliable</h5>
      <div class="card-body">
        <p class="card-text">Get reliable weather results.</p>
      </div>
  </div>
  <div class="card mid" style="width: 25rem;" (click)="change($event)">
      <img class="card-img-top" src="/assets/range.jpeg" alt="Card image cap">
      <h5>Range</h5>
      <div class="card-body">
        <p class="card-text">We provide a wide range of area so you can know the weather before you travel.</p>
      </div>
  </div>  
</div>