.menu{
    padding-top: 4.5em;
    display: flex;
    justify-content: space-evenly;
}

.card img{
    height: 5em;
    width: 5em;
}

.location{
    width: 100%;
    background-color: beige;
}

.main{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.content{
    width: 75%;
    margin: auto;
}
